@import 'mixins';
@import 'fonts';
@import 'icons';

$fontfamily: 'Gilroy';
$fontSize: 16;

$minwidth: 320px;

@import 'normalizer';
// @import 'ibg';
// @import 'style';
// @import 'header';
// @import 'footer'
